<div class="mue-scroll">
    <div class="mue-scroll-head"></div>
    <div class="mue-scroll-main">
        <!-- 列表 -->
        <ul class="mue-list news-list">
            <!-- <li class="mue-btn mue-box-align-top">
                <div class="thumbnail"><img src="images/Trump.png" alt=""></div>
                <div class="span1">
                    <h3 class="item-title">特朗普赢得2016年美国总统大选特朗普赢得2016年美国总统大选特朗普赢得2016年美国总统大选</h3>
                    <div class="item-text mue-box">
                        <div class="span1">
                        </div>
                        <span class="stick">置顶</span>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
    <div class="mue-scroll-foot"></div>
</div>